<div *ngIf="viewMode; else editable">
  <div *ngIf="currentUser.id">
    <h4>{{ 'USUARIOS.USUARIO' | translate }}</h4>
    <div>
      <label><strong>{{ 'USUARIOS.EMAIL' | translate }}:</strong></label> {{ currentUser.email }}
    </div>
    <div *ngIf="!currentUser.isCompany">
      <label><strong>{{ 'USUARIOS.NOMBRE' | translate }}:</strong></label>
      {{ currentUser.name }} {{ currentUser.surname }}
    </div>
    <div *ngIf="currentUser.isCompany">
      <label><strong>{{ 'USUARIOS.COMPANY_ONLY' | translate }}:</strong></label>
      {{ currentUser.company.name }}
    </div>
    <div>
      <label><strong>{{ 'USUARIOS.STATUS' | translate }}:</strong></label>
      {{ (currentUser.active ? "USUARIOS.ACTIVO" : "USUARIOS.INACTIVO") | translate }}
    </div>

    <a
      class="btn btn-warning margencito_total"
      routerLink="/users/{{ currentUser.id }}"
    >
    {{ 'BUTTONS.EDITAR' | translate }}
    </a>
  </div>

  <div *ngIf="!currentUser">
    <br />
    <p>{{ 'USUARIOS.CLICK_USUARIO' | translate }}</p>
  </div>
</div>

<ng-template #editable>
  <div *ngIf="currentUser.id" class="edit-form">
    <h4>{{ 'USUARIOS.USUARIO' | translate }}</h4>
    <form>
      <div class="form-group">
        <label for="email">{{ 'USUARIOS.EMAIL' | translate }}</label>
        <input
          type="text"
          class="form-control"
          id="email"
          [(ngModel)]="currentUser.email"
          name="email"
        />
      </div>
      <div class="form-group" *ngIf="!currentUser.isCompany">
        <div class="form-inline">
          <label for="name" class="margencito_total">{{ 'USUARIOS.NOMBRE' | translate }}: </label>
          <input
            type="text"
            class="form-control"
            id="name"
            [(ngModel)]="currentUser.name"
            name="name"
          />
          <label for="name" class="margencito_total">{{ 'USUARIOS.APELLIDOS' | translate }}: </label>
          <input
            type="text"
            class="form-control"
            id="surname"
            [(ngModel)]="currentUser.surname"
            name="surname"
          />
        </div>
      </div>
      <div class="form-group">
        <div class="form-inline">
          <input
          *ngIf="currentUser.company"
          id="isCompany"
          type="checkbox"
          [(ngModel)]="currentUser.isCompany"
          name="isCompany"
          class="margencito_total"
        />
        <label *ngIf="currentUser.company" for="isCompany" class="margencito_total">{{ 'USUARIOS.ES_EMPRESA' | translate }}</label>

          <label *ngIf="currentUser.company" for="company_cif" class="margencito_total">{{ 'USUARIOS.COMPANY.CIF' | translate }}: </label>
          <input
          *ngIf="currentUser.company"
            type="text"
            class="form-control"
            id="company_cif"
            [(ngModel)]="currentUser.company.cif"
            name="company_cif"
          />
        <label *ngIf="currentUser.company" for="company_name" class="margencito_total">{{ 'USUARIOS.COMPANY.NAME' | translate }}: </label>
        <input
        *ngIf="currentUser.company"
          type="text"
          class="form-control"
          id="company_name"
          [(ngModel)]="currentUser.company.name"
          name="company_name"
        />
        </div>
      </div>
      <div class="form-group">
        <label for="password">{{ 'USUARIOS.PASSWORD' | translate }}</label>
        <input
          class="form-control"
          id="password"
          type="password"
          required
          [(ngModel)]="currentUser.password"
          name="password"
        />
      </div>

      <div class="form-group">
        <label for="confirma_password">{{ 'USUARIOS.CONFIRMA_PASSWORD' | translate }}</label>
        <input
          class="form-control"
          id="confirma_password"
          type="password"
          required
          [(ngModel)]="confirma_password"
          name="confirma_password"
        />
      </div>

      <div class="form-group">
        <label><strong>{{ 'USUARIOS.STATUS' | translate }}:</strong></label>
        {{ (currentUser.active ? "USUARIOS.ACTIVO" : "USUARIOS.INACTIVO") | translate }}
      </div>
    </form>

    <button
    class="btn btn-secondary margencito_total"
    *ngIf="currentUser.active"
      (click)="updateActive(false)"
    >
    {{ 'BUTTONS.DESACTIVAR' | translate }}
    </button>
    <button
      *ngIf="!currentUser.active"
      class="btn btn-info margencito_total"
      (click)="updateActive(true)"
    >
    {{ 'BUTTONS.ACTIVAR' | translate }}
    </button>

    <button
    class="btn btn-danger margencito_total"
    (click)="deleteUser()">
      {{ 'BUTTONS.ELIMINAR' | translate }}
    </button>

    <button
      type="submit"
      class="btn btn-primary margencito_total"
      (click)="updateUser()"
    >
    {{ 'BUTTONS.MODIFICAR' | translate }}
    </button>
  </div>
  <p>{{ message }}</p>
  <div *ngIf="!currentUser.id">
    <br />
    <p>{{ 'USUARIOS.ERROR_ACCESO' | translate }}</p>
  </div>
</ng-template>
