<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="email">{{ 'USUARIOS.EMAIL' | translate }}</label>
        <input
          type="text"
          class="form-control"
          id="email"
          required
          [(ngModel)]="user.email"
          name="email"
        />
      </div>

      <div class="form-group">
        <label for="name">{{ 'USUARIOS.NOMBRE' | translate }}</label>
        <input
          class="form-control"
          id="name"
          required
          [(ngModel)]="user.name"
          name="name"
        />
      </div>

      <div class="form-group">
        <label for="surname">{{ 'USUARIOS.APELLIDOS' | translate }}</label>
        <input
          class="form-control"
          id="surname"
          required
          [(ngModel)]="user.surname"
          name="surname"
        />
      </div>

      <div class="form-group">
        <label for="password">{{ 'USUARIOS.PASSWORD' | translate }}</label>
        <input
          class="form-control"
          id="password"
          type="password"
          required
          [(ngModel)]="user.password"
          name="password"
        />
      </div>

      <div class="form-group">
        <label for="confirma_password">{{ 'USUARIOS.CONFIRMA_PASSWORD' | translate }}</label>
        <input
          class="form-control"
          id="confirma_password"
          type="password"
          required
          [(ngModel)]="confirma_password"
          name="confirma_password"
        />
      </div>

      <div class="form-group">
        <input
          id="isCompany"
          type="checkbox"
          [(ngModel)]="user.isCompany"
          name="isCompany"
          class="margencito_total"
        />
        <label for="isCompany" class="margencito_total">{{ 'USUARIOS.COMPANY_ONLY' | translate }}</label>

      </div>

      <div class="form-group">
        <label for="cif">{{ 'USUARIOS.COMPANY.CIF' | translate }}</label>
        <input
          class="form-control"
          id="cif"
          [(ngModel)]="user.company.cif"
          name="cif"
        />
      </div>

      <div class="form-group">
        <label for="company_name">{{ 'USUARIOS.COMPANY.NAME' | translate }}</label>
        <input
          class="form-control"
          id="company_name"
          [(ngModel)]="user.company.name"
          name="company_name"
        />
      </div>

      <button (click)="saveUser()" class="btn btn-success">{{ 'BUTTONS.GUARDAR' | translate }}</button>
    </div>
    <p>{{ message }}</p>
    <div *ngIf="submitted">
      <h4>{{ 'USUARIOS.MENSAJE_ACTIVAR' | translate }}</h4>
      <button class="btn btn-success" (click)="newUser()">{{ 'BUTTONS.GUARDAR_OTRO' | translate }}</button>
    </div>
  </div>
</div>
