<div class="container" *ngIf="currentUser; else loggedOut">
  <header class="jumbotron">
    <h3 *ngIf="!currentUser.isCompany">
      <mat-icon>home</mat-icon>{{ 'LINKS.PROFILE' | translate }}: <strong>{{ currentUser.name }} {{ currentUser.surname }}</strong>
    </h3>
    <h3 *ngIf="currentUser.isCompany">
      <mat-icon>home</mat-icon>{{ 'LINKS.PROFILE' | translate }}: <strong>{{ currentUser.company.name }}</strong>
    </h3>
  </header>
  <p>
    <strong>{{ 'USUARIOS.EMAIL' | translate }}:</strong>
    {{ currentUser.email }}
  </p>

  <p *ngIf="currentUser.company">
    <strong>{{ 'USUARIOS.COMPANY_ONLY' | translate }}:</strong>
    {{ currentUser.company.cif }} - {{ currentUser.company.name }}
  </p>
  <strong>{{ 'USUARIOS.ROLES' | translate }}:</strong>
  <ul>
    <li *ngFor="let role of currentUser.roles">
      {{ role }}
    </li>
  </ul>
  <div class="form-group">
    <div class="form-inline">
    <label for="password" class="margencito_total">{{ 'USUARIOS.PASSWORD' | translate }}:</label>
    <input
      class="form-control margencito_total"
      id="password"
      type="password"
      required
      [(ngModel)]="currentUser.password"
      name="password"
    />
    <label for="confirma_password" class="margencito_total">{{ 'USUARIOS.CONFIRMA_PASSWORD' | translate }}:</label>
    <input
      class="form-control margencito_total"
      id="confirma_password"
      type="password"
      required
      [(ngModel)]="confirma_password"
      name="confirma_password"
    />
    <a class="btn btn-primary margencito_total" (click)="cambiar_password()">
      <mat-icon>lock</mat-icon> {{ 'BUTTONS.CHANGE_PASSWORD' | translate }}
    </a>
    <strong class="margencito_total">{{message}}</strong>
  </div>
</div>
  <hr>
  <div *ngIf="!currentUser.isCompany">
      <h2><mat-icon>book</mat-icon>{{ 'LINKS.EXAMENES' | translate }}</h2>
      <table mat-table [dataSource]="datos" class="mat-elevation-z8" #tablas>

        <ng-container matColumnDef="test">
          <th mat-header-cell *matHeaderCellDef> {{ 'EXAMENES.EXAMEN' | translate }} </th>
          <td mat-cell *matCellDef="let test"> {{test.title}} </td>
        </ng-container>
        <ng-container matColumnDef="language">
          <th mat-header-cell *matHeaderCellDef> {{ 'EXAMENES.LANGUAGE' | translate }} </th>
          <td mat-cell *matCellDef="let test"> {{test.language}} </td>
        </ng-container>
        <ng-container matColumnDef="passed">
          <th mat-header-cell *matHeaderCellDef> {{ 'EXAMENES.ESTA_APROBADO' | translate }} </th>
          <td mat-cell *matCellDef="let test">
            <mat-icon *ngIf="!test.pass" style="color: red;">cancel</mat-icon>
            <mat-icon *ngIf="test.pass" style="color: green;">check</mat-icon>
          </td>
        </ng-container>
        <ng-container matColumnDef="attemps">
          <th mat-header-cell *matHeaderCellDef> {{ 'EXAMENES.ATTEMPS' | translate }} </th>
          <td mat-cell *matCellDef="let test"> {{test.attemps}} </td>
        </ng-container>
        <ng-container matColumnDef="retry">
          <th mat-header-cell *matHeaderCellDef> {{ 'LINKS.HACER_EXAMEN' | translate }} </th>
          <td mat-cell *matCellDef="let test">
            <a class="btn btn-info margencito_total" (click)="doExam(test.title)" *ngIf="test.attemps>0 && !test.pass"><mat-icon>school</mat-icon> {{ 'LINKS.HACER_EXAMEN' | translate }}</a>
            <strong *ngIf="test.pass">{{ 'EXAMENES.MENSAJE_APROBADO' | translate }}</strong>
            <strong *ngIf="!(test.attemps>0)">{{ 'EXAMENES.MENSAJE_INTENTOS' | translate }}</strong>
          </td>
        </ng-container>
        <ng-container matColumnDef="download">
          <th mat-header-cell *matHeaderCellDef> {{ 'BUTTONS.DESCARGAR_CERTIFICADO' | translate }} </th>
          <td mat-cell *matCellDef="let test">
            <a class="btn btn-success btn-block margencito_total" (click)="openPDF(test)" *ngIf="test.pass">
              <mat-icon>picture_as_pdf</mat-icon> {{ 'BUTTONS.DESCARGAR_CERTIFICADO' | translate }}
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
      </table>
    </div>
    <div *ngIf="currentUser.isCompany">
      <h2>{{ 'LINKS.USUARIOS' | translate }}</h2>
      <table mat-table [dataSource]="datos2" class="mat-elevation-z8" #tablas>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> {{ 'LINKS.USUARIOS' | translate }} </th>
          <td mat-cell *matCellDef="let usuario"> {{usuario.name}} {{usuario.surname}}</td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> {{ 'USUARIOS.EMAIL' | translate }} </th>
          <td mat-cell *matCellDef="let usuario"> {{usuario.email}} </td>
        </ng-container>
        <ng-container matColumnDef="test">
          <th mat-header-cell *matHeaderCellDef> {{ 'EXAMENES.EXAMEN' | translate }} </th>
          <td mat-cell *matCellDef="let usuario"> {{usuario.name}} </td>
        </ng-container>
        <ng-container matColumnDef="passed">
          <th mat-header-cell *matHeaderCellDef> {{ 'EXAMENES.ESTA_APROBADO' | translate }} </th>
          <td mat-cell *matCellDef="let usuario"> {{usuario.name}} </td>
        </ng-container>
        <ng-container matColumnDef="attemps">
          <th mat-header-cell *matHeaderCellDef> {{ 'EXAMENES.ATTEMPS' | translate }} </th>
          <td mat-cell *matCellDef="let usuario"> {{usuario.name}} </td>
        </ng-container>
        <ng-container matColumnDef="download">
          <th mat-header-cell *matHeaderCellDef> {{ 'BUTTONS.DESCARGAR_CERTIFICADO' | translate }} </th>
          <td mat-cell *matCellDef="let usuario">
            <a class="btn btn-success btn-block margencito_total" (click)="openPDF(usuario)">
            {{ 'BUTTONS.DESCARGAR_CERTIFICADO' | translate }}
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnas2"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas2;"></tr>
      </table>
    </div>
</div>

<ng-template #loggedOut>
  {{ 'GENERICO.MENSAJE_LOGIN' | translate }}
</ng-template>
