<div class="container" *ngIf="currentUser; else loggedOut">
  <header class="jumbotron">
    <h3>
      {{ 'LINKS.PROFILE' | translate }}: <strong>{{ currentUser.name }} {{ currentUser.surname }}</strong>
    </h3>
  </header>
  <p>
    <strong>{{ 'USUARIOS.EMAIL' | translate }}:</strong>
    {{ currentUser.email }}
  </p>

  <p *ngIf="currentUser.company">
    <strong>{{ 'USUARIOS.COMPANY_ONLY' | translate }}:</strong>
    {{ currentUser.company.cif }} - {{ currentUser.company.name }}
  </p>
  <strong>{{ 'USUARIOS.ROLES' | translate }}:</strong>
  <ul>
    <li *ngFor="let role of currentUser.roles">
      {{ role }}
    </li>
  </ul>
</div>

<ng-template #loggedOut>
  {{ 'GENERICO.MENSAJE_LOGIN' | translate }}
</ng-template>
