<div class="container" *ngIf="currentUser; else loggedOut">
  <header class="jumbotron">
    <h3>
      <strong>{{ currentUser.username }}</strong> {{ 'LINKS.PROFILE' | translate }}
    </h3>
  </header>
  <p>
    <strong>{{ 'USUARIOS.EMAIL' | translate }}:</strong>
    {{ currentUser.email }}
  </p>
  <strong>{{ 'USUARIOS.ROLES' | translate }}:</strong>
  <ul>
    <li *ngFor="let role of currentUser.roles">
      {{ role }}
    </li>
  </ul>
</div>

<ng-template #loggedOut>
  {{ 'GENERICO.MENSAJE_LOGIN' | translate }}
</ng-template>
