<div class="wrapper-box">
  <div class="container">
    <h2 class="text-center mb-5">{{ 'CONTACTO.HEADER_CONTACTO' | translate }}</h2>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm.value)">
          <div class="form-group">
            <label for="Email">{{ 'USUARIOS.EMAIL' | translate }}</label>
            <input
              type="email"
              class="form-control"
              name="Email"
              aria-describedby="emailHelp"
              placeholder="{{ 'USUARIOS.EMAIL' | translate }}"
              formControlName="Email"
            />
            <small id="emailHelp" class="form-text text-muted"
              >{{ 'CONTACTO.COMPARTIR_MAIL' | translate }}</small
            >
          </div>
          <div class="form-group">
            <label for="fullname">{{ 'USUARIOS.NOMBRE' | translate }}</label>
            <input
              type="text"
              class="form-control"
              name="Fullname"
              placeholder="{{ 'USUARIOS.NOMBRE' | translate }}"
              formControlName="Fullname"
            />
          </div>

          <div class="form-group">
            <label for="comment">{{ 'CONTACTO.COMENTARIO' | translate }}</label>
            <textarea
              class="form-control"
              formControlName="Comment"
              name="Comment"
            >
            </textarea>
          </div>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!contactForm.valid"
          >
          {{ 'BUTTONS.ENVIAR' | translate }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
