.edit-form {
  /*max-width: 400px;*/
  margin: auto;
}

.margencito {
  margin-right: 5px;
}

.otro_margencito {
  margin-left: 5px;
}

.margencito_inferior {
  margin-bottom: 5px;
}

.margencito_total {
  margin: 5px;
}
