<div *ngIf="viewMode; else editable">
  <div *ngIf="currentTutorial.id">
    <h4>{{ 'EXAMENES.EXAMEN' | translate }}</h4>
    <div>
      <label><strong>{{ 'EXAMENES.TITULO' | translate }}:</strong></label> {{ currentTutorial.title }}
    </div>
    <div>
      <label><strong>{{ 'EXAMENES.DESCRIPCION' | translate }}:</strong></label>
      {{ currentTutorial.description }}
    </div>
    <div>
      <label><strong>{{ 'EXAMENES.CRONO' | translate }}:</strong></label>
      {{ currentTutorial.crono }}
    </div>
    <div>
      <label><strong>{{ 'EXAMENES.ATTEMPS' | translate }}:</strong></label>
      {{ currentTutorial.attemps }}
    </div>
    <div>
      <label><strong>{{ 'EXAMENES.LANGUAGE' | translate }}:</strong></label>
      {{ currentTutorial.language }}
    </div>
    <!--<div>
      <label><strong>{{ 'USUARIOS.USUARIO' | translate }}:</strong></label>
      {{ currentTutorial.author.email }}
    </div>-->
    <div>
      <label><strong>{{ 'EXAMENES.STATUS' | translate }}:</strong></label>
      {{ (currentTutorial.published ? "EXAMENES.PUBLICADO" : "EXAMENES.PENDIENTE") | translate }}
    </div>

    <a
      class="btn btn-warning margencito_total"
      routerLink="/tutorials/{{ currentTutorial.id }}"
      *ngIf="!admin"
    >
    {{ 'BUTTONS.EDITAR' | translate }}
    </a>
    <a
      class="btn btn-info margencito_total"
      routerLink="/tutorials/{{ currentTutorial.id }}"
      *ngIf="admin"
    >
    {{ 'LINKS.HACER_EXAMEN' | translate }}
    </a>
  </div>

  <div *ngIf="!currentTutorial">
    <br />
    <p>{{ 'EXAMENES.CLICK_EXAMEN' | translate }}</p>
  </div>
</div>

<ng-template #editable>
  <div *ngIf="currentTutorial.id" class="edit-form">
    <h4>{{ 'EXAMENES.EXAMEN' | translate }}</h4>
    <form>
      <div class="form-group">
        <label for="title">{{ 'EXAMENES.TITULO' | translate }}</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="currentTutorial.title"
          name="title"
        />
      </div>

      <div class="form-group">
        <label for="description">{{ 'EXAMENES.DESCRIPCION' | translate }}</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="currentTutorial.description"
          name="description"
        />
      </div>

      <div class="form-group">
        <div class="col-xs-12">
            <div class="form-inline">
                <div class="form-group">
                  <label for="description" class="margencito">{{ 'EXAMENES.CRONO' | translate }}: </label>
                  <input
                    class="form-control margencito"
                    type="number"
                    id="crono"
                    required
                    [(ngModel)]="currentTutorial.crono"
                    name="crono"
                  />
                </div>
                <div class="form-group">
                  <label for="description" class="margencito">{{ 'EXAMENES.ATTEMPS' | translate }}: </label>
                  <input
                    class="form-control margencito"
                    type="number"
                    id="attemps"
                    required
                    [(ngModel)]="currentTutorial.attemps"
                    name="attemps"
                  />
                </div>
                <div class="form-group">
                  <label for="selectedLanguage" class="margencito">{{ 'EXAMENES.LANGUAGE' | translate }}: </label>
                  <select [ngModel]="currentTutorial.language" (ngModelChange)="onChange($event)" name="selectedLanguage">
                    <option [value]="i" *ngFor="let i of languages">{{i}}</option>
                </select>
                </div>
            </div>
        </div>
    </div>

      <div class="form-group">
        <div>
            <div class="form-inline">
              <label for="key" class="col-xs-2 control-label margencito">{{ 'EXAMENES.KEY' | translate }}:</label>
                <div class="form-group">
                  <input
                  class="form-control"
                  id="key"
                  required
                  [(ngModel)]="key"
                  name="key"
                />
                </div>
                <div class="form-group">
                  <button class="btn btn-primary" (click)="addOption()" >{{ 'EXAMENES.ADD_KEY' | translate }}</button>
                </div>
                <div class="form-group">
                  <button class="btn btn-danger" (click)="removeOption()" >{{ 'EXAMENES.REMOVE_KEY' | translate }}</button>
                </div>
                <b class="otro_margencito">{{ 'EXAMENES.KEYS_ELIMINAR' | translate }}:{{keys_eliminar | json}}</b>
                <b class="otro_margencito">{{ 'EXAMENES.KEYS_PROPUESTAS' | translate }}:{{keys | json}}</b>
                <b class="otro_margencito">{{ 'EXAMENES.KEYS_ACTUALES' | translate }}:{{currentTutorial.keys | json}}</b>
            </div>
        </div>
    </div>

      <div class="form-group">
        <label><strong>{{ 'EXAMENES.STATUS' | translate }}:</strong></label>
        {{ (currentTutorial.published ? "EXAMENES.PUBLICADO" : "EXAMENES.PENDIENTE") | translate }}
      </div>

      <div class="form-group">
        <label><strong>{{ 'PREGUNTAS.PREGUNTAS' | translate }}:</strong></label>
        {{ totalPreguntas }}
      </div>
    </form>

    <button
      class="btn btn-warning margencito_total"
      *ngIf="currentTutorial.published"
      (click)="updatePublished(false)"
    >
    {{ 'BUTTONS.RESCINDIR' | translate }}
    </button>
    <button
      *ngIf="!currentTutorial.published"
      class="btn btn-info margencito_total"
      (click)="updatePublished(true)"
    >
    {{ 'BUTTONS.PUBLICAR' | translate }}
    </button>

    <button class="btn btn-danger margencito_total" (click)="deleteTutorial()">
      {{ 'BUTTONS.ELIMINAR' | translate }}
    </button>

    <button
      type="submit"
      class="btn btn-primary margencito_total"
      (click)="updateTutorial()"
    >
    {{ 'BUTTONS.MODIFICAR' | translate }}
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentTutorial.id">
    <br />
    <p>{{ 'EXAMENES.ERROR_ACCESO' | translate }}</p>
  </div>
</ng-template>
