<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">{{ 'EXAMENES.TITULO' | translate }}</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="tutorial.title"
          name="title"
        />
      </div>

      <div class="form-group">
        <label for="description">{{ 'EXAMENES.DESCRIPCION' | translate }}</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="tutorial.description"
          name="description"
        />
      </div>

      <div class="form-group">
        <div class="col-xs-12">
            <div class="form-inline">
                <div class="form-group">
                  <label for="description" class="margencito">{{ 'EXAMENES.CRONO' | translate }}: </label>
                  <input
                    class="form-control margencito"
                    type="number"
                    id="crono"
                    required
                    [(ngModel)]="tutorial.crono"
                    name="crono"
                  />
                </div>
                <div class="form-group">
                  <label for="description" class="margencito">{{ 'EXAMENES.ATTEMPS' | translate }}: </label>
                  <input
                    class="form-control margencito"
                    type="number"
                    id="attemps"
                    required
                    [(ngModel)]="tutorial.attemps"
                    name="attemps"
                  />
                </div>
            </div>
        </div>
    </div>

      <div class="form-group">
        <div>
            <div class="form-inline">
              <label for="key" class="col-xs-2 control-label margencito">{{ 'EXAMENES.KEY' | translate }}:</label>
                <div class="form-group">
                  <input
                  class="form-control"
                  id="key"
                  required
                  [(ngModel)]="key"
                  name="key"
                />
                </div>
                <div class="form-group">
                  <button class="btn btn-primary" (click)="addOption()" >{{ 'EXAMENES.ADD_KEY' | translate }}</button>
                </div>
                <div class="form-group">
                  <button class="btn btn-danger" (click)="removeOption()" >{{ 'EXAMENES.REMOVE_KEY' | translate }}</button>
                </div>
                <b class="otro_margencito">{{ 'EXAMENES.KEYS' | translate }}:{{keys | json}}</b>
            </div>
        </div>
    </div>
    <b class="otro_margencito">{{questions | json}}</b>

      <hr>
      <h2>{{ 'PREGUNTAS.PREGUNTAS_ACTUALES' | translate }}</h2>
      <table mat-table [dataSource]="datos" class="mat-elevation-z8" #tablas>

        <ng-container matColumnDef="pregunta">
          <th mat-header-cell *matHeaderCellDef> {{ 'PREGUNTAS.PREGUNTA' | translate }} </th>
          <td mat-cell *matCellDef="let pregunta"> {{pregunta.pregunta}} </td>
        </ng-container>

        <ng-container matColumnDef="borrar">
          <th mat-header-cell *matHeaderCellDef> {{ 'BUTTONS.ELIMINAR' | translate }} </th>
          <td mat-cell *matCellDef="let j = index;">
            <button mat-raised-button color="warn" focusable="false" (click)="borrarFila(j)">
              {{ 'BUTTONS.ELIMINAR' | translate }}
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
      </table>
      <hr>
      <div style="background-color: #dac49b; border-radius: 3px;">
        <h4 class="otro_margencito">{{ 'PREGUNTAS.PREGUNTA' | translate }}</h4>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="pregunta"
          placeholder="{{ 'PREGUNTAS.MENSAJE_AGREGAR_PREGUNTA' | translate }}"
          required
          [(ngModel)]="pregunta"
          name="pregunta"
        />
      </div>
      <h4 class="otro_margencito">{{ 'PREGUNTAS.RESPUESTAS' | translate }}</h4>
      <table mat-table [dataSource]="datos2" class="mat-elevation-z8" #tablas>

        <ng-container matColumnDef="respuesta">
          <th mat-header-cell *matHeaderCellDef> {{ 'PREGUNTAS.RESPUESTA' | translate }} </th>
          <td mat-cell *matCellDef="let respuesta"> {{respuesta.respuesta}} </td>
        </ng-container>

        <ng-container matColumnDef="correcta">
          <th mat-header-cell *matHeaderCellDef> {{ 'PREGUNTAS.CORRECTA' | translate }} </th>
          <td mat-cell *matCellDef="let respuesta"> {{respuesta.correcta}} </td>
        </ng-container>

        <ng-container matColumnDef="borrar">
          <th mat-header-cell *matHeaderCellDef> {{ 'BUTTONS.ELIMINAR' | translate }} </th>
          <td mat-cell *matCellDef="let j = index;">
            <button mat-raised-button color="warn" focusable="false" (click)="borrarFila2(j)">
              {{ 'BUTTONS.ELIMINAR' | translate }}
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnas2"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas2;"></tr>
      </table>
      <div class="form-group">
        <div class="form-inline">
          <input
            type="checkbox"
            class="form-control margencito_total"
            id="correcta"
            [(ngModel)]="correcta"
            name="correcta"
          />
          <input
            type="text"
            class="form-control"
            style="width: 95%"
            id="respuesta"
            placeholder="{{ 'PREGUNTAS.MENSAJE_AGREGAR_RESPUESTA' | translate }}"
            required
            [(ngModel)]="respuesta"
            name="respuesta"
          />
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-secondary margencito_total" (click)="agregarRespuesta()" >{{ 'BUTTONS.AGREGAR_RESPUESTA' | translate }}</button>
      </div>

      <hr>
      <div class="form-group">
        <button class="btn btn-primary margencito_total" (click)="agregar()" >{{ 'BUTTONS.AGREGAR_PREGUNTA' | translate }}</button>
      </div>
    </div>
      <hr>

      <button (click)="saveTutorial()" class="btn btn-success">{{ 'BUTTONS.GUARDAR' | translate }}</button>
    </div>

    <div *ngIf="submitted">
      <h4>{{ 'EXAMENES.MENSAJE_PUBLICAR' | translate }}</h4>
      <button class="btn btn-success" (click)="newTutorial()">{{ 'BUTTONS.GUARDAR_OTRO' | translate }}</button>
    </div>
  </div>
</div>
