<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">{{ 'EXAMENES.TITULO' | translate }}</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="tutorial.title"
          name="title"
        />
      </div>

      <div class="form-group">
        <label for="description">{{ 'EXAMENES.DESCRIPCION' | translate }}</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="tutorial.description"
          name="description"
        />
      </div>

      <div class="form-group">
        <label for="description">{{ 'EXAMENES.CRONO' | translate }}</label>
        <input
          class="form-control"
          type="number"
          id="crono"
          required
          [(ngModel)]="tutorial.crono"
          name="crono"
        />
      </div>

      <b>{{ 'EXAMENES.KEYS' | translate }}:{{keys | json}}</b>

      <div class="form-group">
        <label for="description">{{ 'EXAMENES.KEY' | translate }}</label>
        <input
          class="form-control"
          id="key"
          required
          [(ngModel)]="key"
          name="key"
        />
        <button class="btn btn-primary" (click)="addOption()" >{{ 'EXAMENES.ADD_KEY' | translate }}</button>
        <button class="btn btn-danger" (click)="removeOption()" >{{ 'EXAMENES.REMOVE_KEY' | translate }}</button>
      </div>

      <div class="form-group">
        <label for="description">{{ 'EXAMENES.ATTEMPS' | translate }}</label>
        <input
          class="form-control"
          type="number"
          id="attemps"
          required
          [(ngModel)]="tutorial.attemps"
          name="attemps"
        />
      </div>
      <!--<form [formGroup]="formulario">
        <h3>
          PREGUNTA
        </h3>
        <div formArrayName="questions">
          <div *ngFor="let question of questions.controls">
            <div>
              <label>Pregunta:</label><br />
              <input type="text" />
            </div>
            <div>
              <label>A.- Respuesta:</label><br />
              <input type="text" />
            </div>
            <div>
              <label>B.- Respuesta:</label><br />
              <input type="text" />
            </div>
            <hr />
          </div>
        </div>
      </form>
      <button (click)="anadirPregunta()">
        {{ 'BUTTONS.AGREGAR_PREGUNTA' | translate }}
      </button>-->
      <hr>

      <button (click)="saveTutorial()" class="btn btn-success">{{ 'BUTTONS.GUARDAR' | translate }}</button>
    </div>

    <div *ngIf="submitted">
      <h4>{{ 'EXAMENES.MENSAJE_PUBLICAR' | translate }}</h4>
      <button class="btn btn-success" (click)="newTutorial()">{{ 'BUTTONS.GUARDAR_OTRO' | translate }}</button>
    </div>
  </div>
</div>
