<h1>{{currentTutorial.title}}</h1>
<h4>{{ 'PREGUNTAS.PREGUNTAS' | translate }}:{{conteoPreguntas}}/{{totalPreguntas}}</h4>
<div class="list row ">
  <div class="col-md-8">
    <form [formGroup]="form" (ngSubmit)="submitForm()" novalidate>
      <label for="question" class="font-weight-bold question" >{{pregunta.question}}</label>
      <div *ngFor="let data of pregunta.answers; let i=index" >
        <label class="option">
          <input type="checkbox" [value]="data.answer" (change)="onCheckboxChange($event)" />
          {{data.answer}}
        </label>
      </div>
      <p class="error" *ngIf="this.form.controls['checkArray'].errors?.['required']">
        <em>{{ 'EXAMEN.MENSAJE' | translate }}</em>
      </p>
      <button class="btn font-weight-bold question" type="submit" [disabled]="!form.valid" class="enviar">{{ 'BUTTONS.ENVIAR' | translate }}</button>
      <button class="btn font-weight-bold" disabled type="button" class="next">{{ 'BUTTONS.SALTAR_PREGUNTA' | translate }}</button>
    </form>
</div>

<div class="col-md-4">
  <main>
    <div class="circle">
        <div id="stopwatch" class="stopwatch">{{display_time}}</div>
        <!--<div class="buttons">
            <div class="stop" (click)="stop()"></div>
            <div id="play-pause" class="paused" (click)="startTimer()"></div>
        </div>-->
    </div>
  </main>
  <main *ngIf="currentTutorial.correccionAutomatica">
    <div class="circle"><p style="color: rgb(8, 215, 8);">OK:{{number_ok}}</p><p style="color: rgb(209, 9, 9);">KO:{{number_ko}}</p></div>
  </main>
</div>
</div>
